{
  "presets": ["next/babel"],
  "plugins": [
      [
        "styled-components",
        {
          "ssr": true,
          "displayName": true
        }
      ]
    // Conflicting order between: https://github.com/ant-design/ant-design/issues/15696
    // [
    //   "import", {
    //     "libraryName": "antd",
    //     "style": true
    //   }
    // ]
  ]
}